<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="author" content="Luka Cvrk (cssMoban.com.com)" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen, projection" />
	<title>INTERACTIVE MEDIA &middot; using media to broadcast content</title>
</head>
<body id="home">
	<div class="wrap">
		<div id="logo">
			<h1><a href="." title="Home">INTERACTIVE MEDIA</a></h1>
			<p>using media to broadcast content</p>
		</div>
		<ul id="nav">
			<li><a class="current" href="." accesskey="h"><span class="akey">H</span>ome</a></li>
			<li><a href="#" accesskey="a"><span class="akey">A</span>bout</a></li>
			<li><a href="#" accesskey="m"><span class="akey">M</span>edia</a></li>
			<li><a href="#" accesskey="r"><span class="akey">R</span>eferences</a></li>
			<li><a href="#" accesskey="c"><span class="akey">C</span>onsulting</a></li>
			<li><a href="#" accesskey="t">Con<span class="akey">t</span>act</a></li>
		</ul>
	</div>
	<div class="wrap">
		<div id="left">
			<h2>Welcome to my new blog!</h2>
			<p>Suspendisse egestas fringilla odio. Donec lacinia tristique ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam blandit ultricies nisl. Nullam dapibus, mauris id scelerisque feugiat, sapien augue porta ipsum, ut blandit tellus enim vel mauris. Praesent accumsan metus vel ipsum. Maecenas aliquam blandit mi. Pellentesque dolor magna, posuere vel, condimentum id, accumsan ac, diam. Phasellus vel leo. Aenean velit nisl, hendrerit eget, rutrum quis, lobortis nec, libero. Nulla venenatis, turpis eu vestibulum tincidunt, felis diam luctus velit, facilisis cursus mi ligula vitae nunc. Curabitur libero. Fusce felis. Nam gravida nulla non eros. Donec non nisl. Nulla ut odio. Curabitur sollicitudin nonummy est. Nullam molestie lectus quis nibh.</p>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut pretium mauris nec arcu. Integer at leo vel ipsum elementum sodales. Nam est quam, posuere non, feugiat nec, consectetuer ac, lectus. Aenean faucibus. Suspendisse euismod, leo ut pretium ornare, libero arcu malesuada ipsum, at convallis pede augue at arcu. Aliquam lacus massa, pellentesque sit amet, feugiat et, cursus volutpat, massa. Integer nibh. Maecenas mattis ipsum a felis. Curabitur sodales lacus at massa. In hac habitasse platea dictumst.</p>
		</div>	
		<div id="right">
			<h2>Latest Entries</h2>
			<ul>
				<li><a href="#">Aenean justo nisl, luctus sit amet</a></li>
				<li><a href="#">Ut pretium mauris nec arcu</a></li>
				<li><a href="#">Praesent accumsan metus vel</a></li>
				<li><a href="#">Cum sociis natoque et magnis</a></li>
				<li><a href="#">Maecenas mattis ipsum a felis</a></li>
				<li><a href="#">Praesent accumsan metus vel</a></li>
				<li><a href="#">Ut pretium mauris nec arcu</a></li>
			</ul>
			<div id="tagcloud">
				<p>
					<span style="font-size: 1.3em"><a href="#">google</a></span>
					<span style="font-size: 1.1em"><a href="http://www.cssmoban.com">cssMoban.com</a></span>
					<span style="font-size: 1.6em"><a href="http://www.snewscms.com">snews</a></span>
					<span style="font-size: 1.5em"><a href="#">css</a></span>
					<span style="font-size: 1em"><a href="#">templates</a></span>
					<span style="font-size: .9em"><a href="#">apple</a></span>
					<span style="font-size: 1.6em"><a href="#">web 2.0</a></span>
					<span style="font-size: 1.4em"><a href="#">social</a></span>
					<span style="font-size: 1.5em"><a href="#">facebook</a></span>
					<span style="font-size: 1.7em"><a href="http://www.layoutica.com">layoutica</a></span>
				</p>
			</div>
			<p id="info">If you liked this template, you might like some other CSS templates from <a href="http://www.cssmoban.com" title="Information Architecture and Web Design">cssMoban.com</a>!</p>
		</div>
		<div id="footer">
			<p><strong>Blog:</strong> <a href=".">Home</a> &middot; <a href="#">About</a> &middot; <a href="#">Media</a> &middot; <a href="#">References</a> &middot; <a href="#">Consulting</a> &middot; <a href="#">Contact</a></p>
			<p><strong>Network:</strong> <a href="#">Network site #1</a> &middot;  <a href="#">Network site #2</a> &middot;  <a href="#">Network site #3</a> &middot;  <a href="#">Network site #4</a></p>
			<p>Design: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.cssmoban.com/">cssMoban.com</a></p>
		</div>		
	</div>
</body>
</html>
